<!DOCTYPE html>
<html>

<head>
    <title>Add Trek</title>
</head>

<body>

<h1>Add New Trek</h1>

<form method="POST">

    Trek Name <br>
    <input
        type="text"
        name="trek_name"
        minlength="2"
        maxlength="100"
        required
    >
    <br><br>
    Location <br>

    <input
        type="text"
        name="location"
        required
    >

    <br><br>

    Difficulty <br>
    <select name="difficulty">
        <option>Easy</option>
        <option>Moderate</option>
        <option>Hard</option>
    </select><br>

    <br>

    Duration (Days)<br> 
    <input
        type="number"
        name="duration_days"
        min="1"
        required
    >
    <br><br>

    Available Slots<br>
    <input
        type="number"
        name="available_slots"
        min="1"
        required
    >

    <input type="submit" value="Add Trek">

</form>

</body>
</html>